# Server config
HOST=localhost
PORT=8086

# Database Config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=chats
POSTGRES_PORT=5438

# RabbitMQ Config
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

NOTIFICATION_EXCHANGE=notification-exchange
CHAT_NOTIFICATION_ROUTING_KEY=notification.chat

# OAuth2 Security
VOLUNTEER_HUB_AS_URI=http://localhost:7070
VOLUNTEER_HUB_AS_JWK_URI=http://localhost:7070/oauth2/jwks
GOOGLE_AS_URI=https://accounts.google.com
GOOGLE_AS_JWK_URI=https://www.googleapis.com/oauth2/v3/certs

# Firebase Config
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_CREDENTIALS_LOCATION=
FIREBASE_SERVICE_ACCOUNT_BASE64=

# Chat media
CHAT_MEDIA_MAX_FILE_SIZE=10MB
CHAT_MEDIA_MAX_REQUEST_SIZE=12MB
CHAT_MEDIA_FOLDER=chat
CHAT_MEDIA_MAX_SIZE_BYTES=10485760

# Eureka
EUREKA_SERVER_URL=http://localhost:8761/eureka/
