# Server config
PORT=???
HOST=???

# Database Config
POSTGRES_USER=???
POSTGRES_PASSWORD=???
POSTGRES_DB=???
POSTGRES_PORT=???

# RabbitMQ Config
RABBITMQ_PORT=???
RABBITMQ_DEFAULT_USER=???
RABBITMQ_DEFAULT_PASS=???

# Redis Config
REDIS_PASSWORD=???
REDIS_PORT=???

# Eureka
EUREKA_SERVER_URL=???

# Web QR URLs
WEB_JOIN_QR_BASE=https://your-web-domain.com/qr/join
WEB_COMPLETION_QR_BASE=https://your-web-domain.com/qr/complete
