# Server config
PORT=???
HOST=???
# Client config
CLIENT_ID=???
CLIENT_SECRET=???
CLIENT_APP_URI=???
REDIRECT_URI=???
APP_CORS_ALLOWED_ORIGINS=???
GOOGLE_CLIENT_ID=???
GOOGLE_REDIRECT_PATH=/login/oauth2/code/google
# Database Config
POSTGRES_USER=???
POSTGRES_PASSWORD=???
POSTGRES_DB=???
POSTGRES_PORT=???
