# Server config
PORT=8082
HOST=localhost

# Database Config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=events
POSTGRES_PORT=5434

# RabbitMQ Config
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

NOTIFICATION_EXCHANGE=notification-exchange
EVENT_EXCHANGE=event-exchange
NOTIFICATION_ROUTING_KEY=notification.event
EVENT_ROUTING_KEY=event.event

# Redis Config
REDIS_PASSWORD=secret_password
REDIS_PORT=6379

# Firebase Config
FIREBASE_PROJECT_ID=voluteer-hub
FIREBASE_STORAGE_BUCKET=voluteer-hub.firebasestorage.app

# Eureka
EUREKA_SERVER_URL=http://localhost:8761/eureka/
