# Server config
PORT=???
HOST=???

# Database Config
POSTGRES_USER=???
POSTGRES_PASSWORD=???
POSTGRES_DB=???
POSTGRES_PORT=???

# Redis Config
REDIS_PASSWORD=???
REDIS_PORT=???

# RabbitMQ Config
RABBITMQ_PORT=???
RABBITMQ_DEFAULT_USER=???
RABBITMQ_DEFAULT_PASS=???

# OAuth2 Security
VOLUNTEER_HUB_AS_URI=???
VOLUNTEER_HUB_AS_JWK_URI=???
GOOGLE_AS_URI=???
GOOGLE_AS_JWK_URI=???

# Firebase Config
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_CREDENTIALS_LOCATION=
FIREBASE_SERVICE_ACCOUNT_BASE64=

# Eureka
EUREKA_SERVER_URL=???
