# Server config
PORT=???
HOST=???

# Database Config
POSTGRES_USER=???
POSTGRES_PASSWORD=???
POSTGRES_DB=???
POSTGRES_PORT=???

# RabbitMQ Config
RABBITMQ_PORT=???
RABBITMQ_DEFAULT_USER=???
RABBITMQ_DEFAULT_PASS=???

NOTIFICATION_EXCHANGE=???
COMMENT_ROUTING_KEY=???
REACTION_ROUTING_KEY=???
POST_ROUTING_KEY=???

# Redis Config
REDIS_PASSWORD=???
REDIS_PORT=???

# Firebase Config
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_CREDENTIALS_LOCATION=
FIREBASE_SERVICE_ACCOUNT_BASE64=

# Eureka
EUREKA_SERVER_URL=???
